<h1 class="text-center mt-3 mb-3">About this page</h1>


<ul class="nav nav-tabs">
  <li class="nav-item">
    <a class="nav-link active" data-bs-toggle="tab" href="#general">General</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" data-bs-toggle="tab" href="#source">Sources</a>
  </li>
</ul>
<div id="myTabContent" class="tab-content">
  <div class="tab-pane fade active show" id="general">
    <p>This page has been made for my CV portfolio.</p>
    <p>This page is almost a copy of the Team Fortress 2 Wiki's pages, during development, it became clear, that there are way too much source files to click trough. I planned to make a scraper program to get all the texts, lines, files I need for this project, thus finishing it, oddly enough I was unable to figure out an algorithm which could read everything from the page.</p>
    <p>In the end I decided to "not finish" it, since the rest of it would be the exact same.</p>
  </div>
  <div class="tab-pane fade" id="source">
    <p>Sources</p>
    <ul>
        Data:
        <li>
            <a href="https://wiki.teamfortress.com/wiki/Main_Page" target="_blank">Team Fortress 2 Wiki</a>
        </li>
        <li>
            <a href="https://wiki.teamfortress.com/wiki/Responses" target="_blank">Team Fortress 2 Responses</a>
        </li>
        <li>
            <a href="https://wiki.teamfortress.com/wiki/Voice_commands" target="_blank">Team Fortress 2 Voice Commands</a>
        </li>
        Bootstrap:
        <li>
            <a href="https://bootswatch.com/darkly/" target="_blank">Bootswatch Darkly</a>
        </li>
    </ul>
  </div>
</div>