<div class="text-center">
    <h1 class="display-4">Welcome to Team Fortress 2 Voice Lines</h1>
    <p>You can find the other projects of my portfolio on <a href="https://github.com/MrDodoka/Bordas_Bence-CV_Portfolio" target="_blank">GitHub</a>.</p>
</div>